.Post{
  margin-top: 1rem;
  background-color: #757474;
  padding: 10px;
  margin: 10px;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  font-size: 0.7rem;
  display: grid;
}

.postImage{
 float: left;
 width: 20%;
 height: auto;
 margin-right: 10px;
}

.postContainer{

}

.posterInfo{
  display: flex;
  gap: 10px;
  margin-left: 20px;
}


#postText{
  padding-left: 10px;
  font-size: 0.8rem;
  color: beige;
}
