body{
  background-color:#101010 ;
}
.Thread:last-child{
  border-bottom: none;
}
.Thread{
  padding: 10px;
  margin: 20px;
  border-bottom: 2px solid gray;
}


.threadContainer{
  padding: 10px;
  color: white;
  padding: 10px;
  /* margin: 10px; */
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  text-align: left;
  font-size: 0.7rem;
  align-self: stretch;
  background-color: grey;
  border-radius: 8px;
}

.image{
  height: 15vw;
  float: left;
  margin-right: 10px;
}

.threadInfo{
  /* display: flex; */
  gap: 10px;
}

.threadInfoContainer{
  display: inline-flex;
  gap: 10px;
  padding-bottom: 10px;
}

.postNo{
  cursor: pointer;
}


#user{
 color: #00ff46;
}
