.Thread{
  padding: 10px;
  background-color: #1c1c1c;
  border-bottom: 2px solid gray;
}

.threadContainer{
  padding: 10px;
  color: silver;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  text-align: left;
  font-size: 0.7rem;
  align-self: stretch;
}

.threadInfo{
  display: flex;
  gap: 10px;
}

#user{
 color: #00ff46;
}
