#root{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background: #1c1c1c;
}

.showButton{
  display: flex;
  align-items: center;
  justify-content: center;
}


.header{
  top: 0;
  width: 100%;
  text-align: center;
}

button{
  background-color: transparent;
  color: beige;
  border: 1px solid beige;

}
