.hideContainer {
  display: inline-flex;
  padding-bottom: 10px;
  padding-top: 15px;
  gap: 3px;
  cursor: pointer;

  align-self: flex-start;
}

.square {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: beige;
  align-self: center;
}

.text {
  color: #00ff46;
  align-self: center;
  font-size: 1rem;
}
