.hideContainer{
  display: inline-flex;
  padding-bottom: 10px;
  gap: 3px;
  cursor: pointer;
}

.square{
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: beige;
  align-self: center;
}

.text{
  color: greenyellow;
  align-self: center;
  font-size: 0.8rem;
}
